p{

    font-size: 20px;
    familia de fuentes: 'Indie Flower', cursiva;
    color:#FF3333;

}

.parrafoMain3{
    font-size: 30px;
    color: black;
}

header{

    
    color:black;
    background-image: url(img/ceiba.jpg);

}

main{

   background-color: beige;
   


}

footer{

    background-color: darkslategray;
    color: snow;

}